<div class="row p-0 m-0 min-vh-100">
    <div class="col">
        <app-header></app-header>
    </div>
    <div class="row">
        <div class="col">
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            vv
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
        </div>
        <div class="col">
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
        </div>
        <div class="col">
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
            hello world
        </div>
        <div class="col">
            hello world
        </div>
    </div>
    <app-footer class="mt-auto"></app-footer>
</div>


